@media screen and (min-width: 1280px) {
  body {
    font-size: 14px;
  }
  #wrapper, .wrap {
    width: 1200px;
  }
  .telephone {
    float: right;
    margin-left: 90px;
  }
  #ad {
    margin-left: 110px;
  }
  #cart a {
    font-size: 15px;
  }
  #wrapper > nav ul {
    width: 850px;
  }
  #wrapper > header {
  }
  #wrapper > nav {
    margin-bottom: 45px;
  }
  .filters {
    width: 252px;
  }
  .filters.left + .region-content, 
  .filters + .search-results {
    width: 902px;
  }
  .filters.left + .filters.right + .region-content, 
  .filters.left + .filters.right + .region-content + .regions {
    width: 660px;
  }
  .product .product-info {
    width: 762px;
  }
}

@media screen and (max-width: 1000px) {
  body {
    font-size: 14px;
  }
  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }
  body h1 {
    padding-bottom: 0;
    margin-bottom: 27px;
  }
  body h1:after {
    display: none;
  }
  h2 strong, 
  h3 strong {
    display: block;
    font-size: 1.5em;
  }
  .region-content.store h2 {
    font-size: 31px;
    line-height: 31px;
  }
  #wrapper, .wrap {
    width: 280px;
  }
  #wrapper {
    position: relative;
    padding-top: 32px;
  }
  #logo {
    margin-top: 0;
  }
  #wrapper > header {
    height: auto;
  }
  #wrapper > nav {
    position: absolute;
    background: none;
    z-index: 100;
    height: auto;
    width: auto;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  #wrapper > nav:before {
    display: none;
  }
  #wrapper > nav #cart,
  #wrapper > nav ul {
    display: none;
  }
  #wrapper > nav #cart {
    float: none;
    margin-bottom: 27px;
  }
  #wrapper > nav ul {
    width: auto;
  }
  #wrapper > nav li {
    display: block;
    font-size: 18px;
    line-height: 52px;
  }
  #wrapper > nav li:before {
    display: none;
  }
  #wrapper > nav li:first-child:before,
  #wrapper > nav li:last-child:after,
  #wrapper > nav li:after {
    display: block;
    background: 0;
    width: 100%;
    height: 0;
    left: 0;
    right: 0;
    bottom: 0;
    top: auto;
    border-top: 1px solid #d9d9df;
    border-bottom: 1px solid #f6f6f8;
  }
  #wrapper > nav li:first-child:before {
    top: -1px;
    bottom: auto;
  }
  #wrapper > nav a {
    height: auto;
  }
  #wrapper > nav a.show-menu {
    display: block;
    position: absolute;
    top: 34px;
    right: 0;
    width: 46px;
    height: 46px;
    background: url(../img/sprite.png) no-repeat 0 -87px;
    cursor: pointer;
  }
  #wrapper > nav a.show-menu[data-count]:after {
    content: attr(data-count);
    padding: 2px 8px;
    height: 20px;
    line-height: 21px;
    min-width: 6px;
    text-align: center;
    background: #1db221;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    right: 50px;
    bottom: -20px;
  }
  #wrapper > nav a.show-menu[data-count]:before {
    content: '\27A4';
    color: #1db221;
    position: absolute;
    right: 45px;
    bottom: -8px;
    line-height: 20px;
    transform: rotate(-42deg);
  }
  body.not-front .categories {
    display: none;
  }
  body.menu-opened {
    position: relative;
    height: auto;
  }
  body.menu-opened:after {
    content: '';
    position: absolute;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #e5e5ea;
  }
  body.menu-opened #wrapper > nav {
    bottom: 0;
    padding-top: 28px;
  }
  body.menu-opened #wrapper > nav #cart,
  body.menu-opened #wrapper > nav ul {
    display: block;
  }
  body.menu-opened #wrapper > nav a.show-menu {
    background-position: -48px -87px;
  }
  body.menu-opened #wrapper > nav a.show-menu[data-count]:after,
  body.menu-opened #wrapper > nav a.show-menu[data-count]:before {
    display: none;
  }
  #logo {
    float: none;
    margin-top: -10px;
  }
  #ad {
    display: none;
  }
  .telephone {
    margin-left: 0;
    margin-top: 22px;
    margin-bottom: 22px;
    padding-left: 0;
    width: auto;
    height: auto;
    float: none;
  }
  .telephone a {
    width: 50%;
    padding: 6px 0;
    margin: 0;
    text-align: center;
    float: left;
    font-size: 20px;
    letter-spacing: -1px;
  }
  .telephone a:nth-child(odd) {
    text-align: left;
  }
  .telephone a:nth-child(even) {
    text-align: right;
  }
  .telephone:before {
    display: none;
  }
  .telephone:after {
    content: '';
    display: block;
    clear: both;
  }
  .contacts {
    display: none;
  }
  .region-content {
    width: auto !important;
    margin: 0 !important;
    float: none !important;
  }
  .regions {
    margin-top: 25px;
  }
  .blue-title {
    display: none;
  }
  .filters {
    float: none !important;
    width: auto;
    margin-bottom: 25px;
  }
  .filters.left + .region-content, 
  .filters + .search-results {
    float: none;
    width: auto;
  }
  .filters.left + .region-content:after {
    display: none;
  }
  .filters .filter {
    background: none;
    border: 0;
    border-bottom: 1px solid #d3d7db;
    border-radius: 0;
    margin: 0 !important;
    padding: 10px 20px 8px;
    text-align: left;
  }
  .filters .filter:last-child {
    border: 0;
  }
  .filters .filter .filter-content {
    display: none;
  }  
  .filters .filter.opened .filter-content {
    display: block;
  }  
  .filters .filter:before, 
  .filters .filter:after {
    display: none;
  }
  .filters .filter h3 {
    position: relative;
    cursor: pointer;
    top: auto;
    text-align: left;
    margin-bottom: 2px;
    text-decoration: underline;
  }
  .filters .filter.opened h3 {
    margin-bottom: 10px;
  }
  .filters .filter a {
    font-size: 15px;
    padding: 2px 0;
  }
  .filters .filter h3:before {
    left: auto;
    right: 0;
    top: 50%;
    margin-top: -11px;
    width: 22px;
    height: 22px;
    background-position: -93px -84px;
  }
  .filters .filter.opened h3:before {
    background-position: -116px -84px;
  }
  .filters .filters-wrapper {
    border: 1px solid #d3d7db;    
    border-radius: 5px;
  }
  #content {
    padding-bottom: 250px;
  }
  .spares form .select-wrapper {
    font-size: 15px;
  }
  .spares form input[type="submit"] {
    font-size: 18px;
    height: 45px;
    width: 100%;
  }
  .spares + .filters-wrapper {
    margin-top: 40px;
  }
  .categories ul {
    display: block;
    margin: 0 !important;
    border: 1px solid #d3d7db;
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
  }
  .categories li {
    border-bottom: 1px solid #d3d7db;
  }
  .categories li a {
    display: block;
    padding: 15px;
    text-align: center;
    font-size: 18px;
    text-decoration: underline;
  }
  .item-list .pager li a,
  .item-list .pager li a:hover,
  .categories .more,
  .store .more {
    border: 1px solid #d3d7db;
    border-radius: 5px;
    display: block;
    margin: 0;  
    padding: 15px;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    text-decoration: underline !important;  
    font-weight: normal;
    color: #aaaaaa;
    background: white;
  }
  .categories .more {
    border-top: 0;
    border-radius: 0 0 5px 5px;    
  }
  .categories li:before {
    display: none;
  }
  .node-article.search-result, 
  .search-results .search-result {
    box-shadow: none;
  }
  .node-article.search-result a, 
  .search-results .search-result a {
    padding: 18px 0 0;
    text-align: center;
  }
  .node-article.search-result .image, 
  .search-results .search-result .image {
    float: none;
    width: 232px;
    margin: 0 auto 18px;
  }
  .node-article.search-result img, 
  .search-results .search-result img {
    width: 225px;
    height: auto;
  }
  .search-results .search-result .title {
    font-size: 16px;
  }
  .search-results .search-result .price-block {
    margin-top: 18px;
    padding: 18px;
    position: static;
    width: auto;
    border-top: 1px solid #d3d7db;
    border-radius: 0 0 5px 5px;
  }
  .search-results .search-result .price-block .price {
    padding-bottom: 9px;
    font-size: 24px;
  }
  .search-results .search-result .price-block .price:last-child {
    padding-bottom: 0;
  }
  .node img {
    max-width: 100%;
    height: auto;
  }
  .node-type-article .node-article .field-name-field-image {
    float: none;
    margin-right: 0;
  }
  .item-list .pager li.pager-item,
  .item-list .pager li.pager-current,
  .item-list .pager li.pager-ellipsis,
  .item-list .pager li.pager-previous {
    display: none;
  }
  .item-list ul.pager {
    padding: 0 !important;
  }
  .item-list .pager li.pager-next {
    margin: 0;
  }
  .search-filters,
  .breadcrumb {
    display: none;
  }
  form.comment-form {
    width: auto;
    margin: 0 auto;
    text-align: center;
  }
  form.comment-form .file-wrapper {
    margin-bottom: 5px;
  }
  .product-description {
    display: none;
  }
  .product .product-images {
    width: auto;
    float: none;
    margin-bottom: 25px;
  }
  .product .product-images .image img {
    width: 100%;
    height: auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
  .slider-photo {
    margin: 9px -2px 0;
  }
  .slider-photo li {
    margin: 0 2px;
    width: 90px;
    height: 70px;
  }
  .slider-photo .slider {
    width: auto;
  }
  .slider-photo .slider-prev, 
  .slider-photo .slider-next {
    display: none;
  }
  .product .product-info {
    width: auto;
    float: none;
  }
  body > footer > .wrap:before {
    display: none;
  }
  footer {
    margin-top: -140px !important;
  }
  footer .telephone {
    float: none;
    width: auto;
    padding: 18px 0 10px;
    margin: 0;
  }
  footer .telephone a {
    margin: 0;
    float: left;
    font-weight: bold;
    font-size: 21px;
  }
  footer .telephone a, 
  footer .telephone a span {
    line-height: 22px;
  }
  footer ul.menu {
    text-align: center;
  }
  footer ul.menu li {
    margin: 0;
  }
  footer ul.menu li a {
    display: inline-block;
    padding: 8px 10px;
  }
  footer .left {
    padding: 0;
  }
  footer .left .logo {
    position: absolute;
    top: -80px;
    left: 50%;
    margin-left: -94px;
  }
  footer .left .social,
  footer .left .text {
    display: none;
  }
  footer .right {
    float: none;
    width: auto;
    padding: 0;
  }
  #modalContent {
    width: 300px !important;
    margin-left: -150px !important;
  }
  .basic-cart-total-price {
    line-height: 20px;
    margin-bottom: 9px;
  }
  #modalContent .webform-client-form, 
  #modalContent .basic-cart-checkout-form {
    background: none;
    margin-right: 0;
    padding-bottom: 0;
  }
  .webform-client-form > div, 
  .basic-cart-checkout-form > div {
    width: auto;
  }
  .basic-cart-checkout-form input[type="submit"] {
    margin: 0 auto;
    display: block;
  }
  .right-callback {
    float: none;
    text-align: center;
  }
  .basic-cart-call-to-action {
    text-align: center;
  }
  .basic-cart-call-to-action input {
    margin-top: 9px;
  }
}