* {
  padding: 0;
  margin: 0;
}
html, body {
  height: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: url(/sites/all/themes/allegroukr/img/bg-top.jpg) no-repeat center top white;
  font: 13px/18px Arial,sans-serif;
  color: #2b2a29;
}
body:before {
  content: '';
  height: 3px;
  background: #ff5900;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0 -1px 15px rgba(0,0,0,0.6);
}
a {
  color: #1b87cf;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1, h2, h3 {
  font-size: 21px;
  color: #ff5900;
  margin-bottom: 27px;
  line-height: 27px;
}
body h1 {
  font-size: 29px;
  font-weight: normal;
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 31px;
}
body h1:after {
  content: '';
  position: absolute;
  left: -0;
  right: 0;
  bottom: -4px;
  height: 1px;
/*
  bottom: -31px;
  height: 31px;
*/
  background: url(/sites/all/themes/allegroukr/img/title-shadow.png) no-repeat left top;
  background-size: 100%;
}
.field-name-field-body h1 {
  padding-bottom: 0;
}
.field-name-field-body h1:after {
  display: none;
}
body.front h1 {
  margin-bottom: 0;
}
body.front h1:after {
  bottom: 0;
  top: -27px;
}
h2, h3 {
  font-weight: normal;
  color: #2b2a29;
  margin-bottom: 18px;
}
h2 strong, 
h3 strong {
  color: #ff5900;
  text-transform: uppercase;
  font-size: 1.3em;
  line-height: 1.3em;
}
h2 b,
h3 b {
  color: #74ba2f;
}
h4, h5, h6 {
  font-size: 18px; 
  color: #2b2a29; 
  margin-bottom: 18px;
}
p {
  margin-bottom: 18px;
}
iframe {
  vertical-align: top;
  border: 0;
}
#main ul,
#main ol {
  margin-bottom: 18px;
  padding-left: 18px;
}

input[type="text"],
input[type="email"],
input[type="password"], 
textarea {
  border: 1px solid #e5e5e5;
  border-bottom-color: #d6d6d6;
  border-top-color: #d1d1d1;
  padding: 7px 9px;  
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: -moz-linear-gradient(top, #d5d5d5, #ffffff 16px);
  background: -webkit-linear-gradient(top, #d5d5d5, #ffffff 16px);
  background: -ms-linear-gradient(top, #d5d5d5, #ffffff 16px);
  background: -o-linear-gradient(top, #d5d5d5, #ffffff 16px);
  background: linear-gradient(top, #d5d5d5, #ffffff 16px);
}
input[type="submit"] {
  border: 1px solid #eac942;
  border-bottom: 2px solid #ce7a00;
  color: #434242;
  text-shadow: 0 1px 1px #ffed00;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 9px 18px;
  background: #f4cd00;
  background: -moz-linear-gradient(top, #f6d000, #e4b200);
  background: -webkit-linear-gradient(top, #f6d000, #e4b200);
  background: -o-linear-gradient(top, #f6d000, #e4b200);
  background: -ms-linear-gradient(top, #f6d000, #e4b200);
  background: linear-gradient(top, #f6d000, #e4b200);
  font-size: 14px;
}

input, textarea {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;  
}
:-moz-placeholder {
  color: #2b2a29;
}
::-moz-placeholder {
  color: #2b2a29;
}
:-ms-input-placeholder {
  color: #2b2a29;
}
::-webkit-input-placeholder {  
  color: #2b2a29;
}


.clearfix:after{
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#wrapper, .wrap {
  width: 960px;
  margin: 0 auto;
  min-height: 100%;
}
#wrapper > header {
  height: 123px;
}
#content {
  padding-bottom: 420px;
}
body > footer {
  height: 206px;
  margin-top: -212px;
  background: url(/sites/all/themes/allegroukr/img/bg-bottom.jpg) no-repeat center top #d0d0d6; 
  border-bottom: 6px solid #ffffff;
  position: relative;
}
body > footer:after {
  content: '';
  width: 100%;
  bottom: -6px;
  left: 0;
  position: absolute;
  border-bottom: 4px solid #ff5900;
}
body > footer > .wrap {
  position: relative;
}
body > footer > .wrap:before {
  content: '';
  width: 320px;
  height: 170px;
  position: absolute;
  top: -150px;
  right: 0;
  background: url(/sites/all/themes/allegroukr/img/girl.png) no-repeat;
  z-index: 10;
}
#logo,
a.logo {
  text-indent: -10000px;
  display: block;
  float: left;
  background: url(/sites/all/themes/allegroukr/img/logo.png) no-repeat center center;
  width: 188px;
  height: 74px;
  margin-top: 32px;
}
a.logo {
  margin: 0;
  height: 50px;
  float: none;
}
#ad {
  width: 315px;
  height: 85px !important;
  margin-top: 22px;
  display: block;
  float: left;
  margin-left: 30px;
}
#ad img {
  width: 315px !important;
  height: 85px !important;  
}
#ad .bjqs-controls,
#ad .bjqs-markers {
  display: none;
}
#ad > ul {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: none;
  height: 85px !important;  
}
#ad > ul > li {  
  position: absolute;
  display: none;
  height: 85px !important;
}
.telephone {
  width: 225px;
  height: 45px;
  margin-top: 46px;
  float: left;
  margin-left: 22px;
  position: relative;
  padding-left: 20px;
}
.telephone a {
  font: bold 15px/22px Arial,sans-serif;
  color: #636363;
  text-decoration: none;
  cursor: default;
  display: block;
  float: left;
  word-spacing: -1px;
  margin-left: 8px;
  white-space: nowrap;
}
.telephone a span {
  color: #949494;
}
.telephone:before {
  content: '';
  display: block;
  width: 16px;
  height: 21px;
  background: url(/sites/all/themes/allegroukr/img/sprite.png) no-repeat 0 0;
  position: absolute;
  top: 10px;
  left: 0;
}
.contacts {
  margin-top: 49px;
  float: right;
  margin-right: 4px;
  color: #1b87cf;
}
.contacts > a,
.contacts > span {
  display: block;
  margin-left: 27px;
  position: relative;
  line-height: 13px;
  margin-bottom: 9px;
}
.contacts .skype:before,
.contacts .callback:before {
  content: '';
  width: 21px;
  height: 17px;
  background: url(/sites/all/themes/allegroukr/img/sprite.png) no-repeat -37px 0;
  display: inline-block;
  position: absolute;
  left: -27px;
  top: -1px;
}
.contacts .skype:before {
  width: 16px;
  background-position: -19px 0;
  margin-left: 3px;
}
.contacts .callback {
  text-decoration: none;
  border-bottom: 1px dashed #1b87cf;
}
#wrapper > nav a.show-menu {
  display: none;
}
#wrapper > nav {
  height: 57px;
  line-height: 57px;
  background: #eff0f1;
  background: -moz-linear-gradient(top, #ffffff, #dbdfe2);
  background: -webkit-linear-gradient(top, #ffffff, #dbdfe2);
  background: -o-linear-gradient(top, #ffffff, #dbdfe2); 
  background: -ms-linear-gradient(top, #ffffff, #dbdfe2);
  background: linear-gradient(to bottom, #ffffff, #dbdfe2); 
  padding: 0 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  position: relative;
  margin-bottom: 30px;
}
#wrapper > nav:before {
  content: '';
  position: absolute;
  top: -8px;
  left: 10px;
  right: 10px;
  height: 8px;
  background: url(/sites/all/themes/allegroukr/img/menu-shadow.png) no-repeat center center;
}
#wrapper > nav ul {
  display: table;
  list-style-type: none;
  width: 710px;
}
#wrapper > nav li {
  display: table-cell;
  text-align: center;
  padding: 0 10px;
  position: relative;
}
#wrapper > nav li:before,
#wrapper > nav li:after {
  content: '';
  display: block;
  position: absolute;
  height: 37px;
  width: 1px;
  background: #f6f6f7;
  background: -moz-linear-gradient(top, rgba(250,250,250,0), rgba(250,250,250,1), rgba(250,250,250,0));
  background: -webkit-linear-gradient(top, rgba(250,250,250,0), rgba(250,250,250,1), rgba(250,250,250,0));
  background: -o-linear-gradient(top, rgba(250,250,250,0), rgba(250,250,250,1), rgba(250,250,250,0)); 
  background: -ms-linear-gradient(top, rgba(250,250,250,0), rgba(250,250,250,1), rgba(250,250,250,0));
  background: linear-gradient(top, rgba(250,250,250,0), rgba(250,250,250,1), rgba(250,250,250,0)); 
  top: 10px;
  left: 0;
}
#wrapper > nav li.first:before,
#wrapper > nav li.last:after {
  display: none;
}
#wrapper > nav li:after {
  background: #e2e4e6;
  background: -moz-linear-gradient(top, rgba(220,220,220,0), rgba(220,220,220,1), rgba(220,220,220,0));
  background: -webkit-linear-gradient(top, rgba(220,220,220,0), rgba(220,220,220,1), rgba(220,220,220,0));
  background: -o-linear-gradient(top, rgba(220,220,220,0), rgba(220,220,220,1), rgba(220,220,220,0)); 
  background: -ms-linear-gradient(top, rgba(220,220,220,0), rgba(220,220,220,1), rgba(220,220,220,0));
  background: linear-gradient(top, rgba(220,220,220,0), rgba(220,220,220,1), rgba(220,220,220,0)); 
  left: auto;
  right: 0;
}
#wrapper > nav a {
  color: #2b2a29;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}
#wrapper > nav a:hover,
#wrapper > nav li.active a {
  color: #ff5900;
}
.left {
  float: left;
  width: 615px;
}
.right {
  float: right;
  width: 312px;
}
#search form {
  position: relative;
}

#search form input[type="text"]:-moz-placeholder {
  font-style: italic;
  color: #2666a1;
}
#search form input[type="text"]::-moz-placeholder {
  font-style: italic;
  color: #2666a1;
}
#search form input[type="text"]:-ms-input-placeholder {
  font-style: italic;
  color: #2666a1;
}
#search form input[type="text"]::-webkit-input-placeholder {  
  font-style: italic;
  color: #2666a1;
}

#banner,
#search input[type="text"],
#cart {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;  
  background: #ffffff;
  background: -moz-linear-gradient(top, #f8f8f7, #ffffff 50%);
  background: -webkit-linear-gradient(top, #f8f8f7, #ffffff 50%);
  background: -o-linear-gradient(top, #f8f8f7, #ffffff 50%); 
  background: -ms-linear-gradient(top, #f8f8f7, #ffffff 50%);
  background: linear-gradient(top, #f8f8f7, #ffffff 50%); 
}
.bottom-shadow {
  position: relative;
}
.bottom-shadow:before {
	content:"";
  position:absolute; 
  z-index:-1;
  box-shadow:0 0 8px rgba(0,0,0,0.3);
  height: 8px;
  bottom:0;
  left:10px;
  right:10px;
  border-radius: 100%;
}
#search {
  margin-bottom: 30px;
}
#search input[type="text"] {
  width: 100%;
  padding: 12px 22px;
  font: 15px Arial,sans-serif;
  color: #2b2a29;
  border: 1px solid #577ba3;
}
#search input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: url(/sites/all/themes/allegroukr/img/sprite.png) no-repeat -109px -1px #1475b4;
  background: url(/sites/all/themes/allegroukr/img/sprite.png) no-repeat -109px -1px, -moz-linear-gradient(top, #0093dd, #26588e);
  background: url(/sites/all/themes/allegroukr/img/sprite.png) no-repeat -109px -1px, -webkit-linear-gradient(top, #0093dd, #26588e);
  background: url(/sites/all/themes/allegroukr/img/sprite.png) no-repeat -109px -1px, -o-linear-gradient(top, #0093dd, #26588e); 
  background: url(/sites/all/themes/allegroukr/img/sprite.png) no-repeat -109px -1px, -ms-linear-gradient(top, #0093dd, #26588e);
  background: url(/sites/all/themes/allegroukr/img/sprite.png) no-repeat -109px -1px, linear-gradient(top, #0093dd, #26588e); 
  border: 0;
  padding: 0;
  width: 46px;
  cursor: pointer;
  border: 1px solid #419cd1;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#cart {
  border: 1px solid #bebdbd;   
  width: 210px;
  float: right;
  background: #f4f5f6;
  background: linear-gradient(to bottom, #eff0f1, #ffffff);
  box-shadow: inset 0 1px 0 #ffffff, 0 1px 0 #eef2f4;
  margin-top: 9px;
}
#cart a {
  display: block;
  font: 13px/14px Arial,sans-serif;
  padding: 11px 0 11px 55px;
  position: relative;
  text-decoration: none;
  color: #2b2a29 !important;
  width: auto !important;
}
#cart a:before {
  content: '';
  position: absolute;
  width: 47px;
  height: 47px;
  background: url(/sites/all/themes/allegroukr/img/sprite.png) no-repeat -59px 0;
  bottom: -3px;
  left: -8px;
}
#cart a[data-count]:after {
  content: attr(data-count);
  padding: 2px 6px;
  height: 14px;
  min-width: 6px;
  text-align: center;
  background: #ff5900;
  border-radius: 18px;
  color: white;
  font-size: 11px;
  font-weight: bold;
  position: absolute;
  left: 22px;
  bottom: -5px;
}
#cart a b {
  font-size: 18px;
  color: #ff5900;
}
#banner {
  border: 1px solid #e5e5e4;
  border-bottom-color: #bababa; 
  text-align: center;
  position: relative;
  width: 615px;
  height: 446px !important;
}
#banner .bjqs-controls {
  display: none;
}
#banner .bjqs-markers {
  position: absolute;
  z-index: 100;
  left: auto !important;
  right: 25px;
  bottom: 20px;
  list-style: none;
  text-align: right;
  line-height: 12px;
}
#banner .bjqs-markers li {
  width: 12px;
  height: 12px;
  background: #9f9f9f;
  box-shadow: inset 0 2px 1px rgba(0,0,0,0.3);
  border-radius: 100%;
  display: inline-block;
  margin-left: 12px;
}
#banner .bjqs-markers li.active-marker {
  background: #d3d3d3;
  background: -webkit-linear-gradient(top, #f1f1f1, #a7a7a7);
  background: -moz-linear-gradient(top, #f1f1f1, #a7a7a7);
  background: -o-linear-gradient(top, #f1f1f1, #a7a7a7);
  background: -ms-linear-gradient(top, #f1f1f1, #a7a7a7);
  background: linear-gradient(top, #f1f1f1, #a7a7a7);
  box-shadow: none; 
}
#banner .bjqs-markers li a {
  text-align: left;
  text-indent: -10000px;
  display: inline-block;
  width: 12px;
  height: 12px;  
}
#banner > ul {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: none;
  height: 446px !important;
}
#banner > ul > li {
  position: absolute;
  display: none;
  height: 446px !important;
}
#banner:before,
.video .bottom-shadow:before {
  box-shadow: 0 0 8px rgba(0,0,0,0.7);  
}
#banner img {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;  
  vertical-align: top;
  width: auto !important;
  height: auto !important;
}
.categories,
.spares {
  margin-bottom: 25px;
}
.spares + .filters-wrapper {
  margin-top: 60px;
}
.video h3,
.categories h3,
.spares h3 {
  line-height: 18px;
}
.categories ul {
  list-style-type: none;
  padding: 0 !important;
  margin-bottom: 11px !important;
}
.categories li {
  line-height: 24px;
}
.categories li:before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  background: url(/sites/all/themes/allegroukr/img/sprite.png) no-repeat 0 -23px;
  margin-right: 18px;
}
.categories .more,
.store .more {
  font-weight: bold;
  text-decoration: underline;
  margin-left: 26px;
}
.store .more {
  margin-left: 0;
}

.spares form {
  background: #ff6f00;
  background: linear-gradient(135deg, #ff8f00, #ff5e00);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  position: relative;
}

.spares form .ajax-progress {
  display: block !important;
  position: absolute;
  background: url(../img/loader.gif?sd) black;
  opacity: 0.1;
  border-radius: 5px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.spares form .ajax-progress .throbber,
.spares form .ajax-progress .message {
  display: none;
}

.spares form .form-item {
  margin: 0 0 10px;
}

.spares form .select-wrapper {
  height: 40px;
  border-radius: 5px;
  line-height: 40px;
  background-color: white;
  border: 0;
  outline: 0;
  font-size: 13px;
  width: 100%;
  text-align: left;
  vertical-align: top;
}

.spares form select {
  height: 40px;
  padding: 0;
}

.spares form .select-wrapper span {
  height: 40px;
  line-height: 42px;
  padding: 0 0 0 8px;
  margin-right: 30px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
}

.spares form input[type="submit"] {
  background: #fac901;
  background: linear-gradient(to bottom, #ffcd02, #f7c600);
  border-radius: 4px;
  padding: 12px 36px;
  height: 40px;
  border: 0;
  text-transform: uppercase;
}

#main {
  margin-bottom: 54px;
}

.devider {
  height: 20px;
  overflow: hidden;
  position: relative;
  margin: 0 -32px 40px -32px;
}
.devider:before {
  content: '';
  position: absolute;
  height: 1px;
  top: 0;
  left: 0;
  right: 0;
  background: #d7dee3;
  background: -moz-linear-gradient(top, #ffffff, #dbdfe2);
  background: -webkit-linear-gradient(left, #fbfcfc, #e6ebee 15%, #d7dee3, #e6ebee 85%, #fbfcfc);
  background: -o-linear-gradient(top, #ffffff, #dbdfe2); 
  background: -ms-linear-gradient(top, #ffffff, #dbdfe2);
  background: linear-gradient(top, #ffffff, #dbdfe2); 
}
.devider:after {
  content: '';
  position: absolute;
  height: 100%;
  top: -20px;
  left: 100px;
  right: 100px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  box-shadow:0 0 30px rgba(0,0,0,0.15);
}
footer .left {
  width: 350px;
  padding-top: 44px;
}
footer .right {
  width: 600px;
  padding-top: 44px;
}
footer .social {
  color: #2b2a29;
  font-weight: bold;
  font-size: 14px;
}
footer .b-share {
  padding: 0 !important;
  margin-top: 7px;
  margin-bottom: 22px;
}
footer .b-share__handle {
  padding: 0 !important;
  margin-right: 5px;
  height: 30px;
}
footer .b-share-icon {
  background: url(/sites/all/themes/allegroukr/img/social-links.png) no-repeat;
  width: 30px;
  height: 30px;
}
footer .b-share-icon_vkontakte {
  background-position: 0 0;
}
footer .b-share-icon_facebook {
  background-position: -36px 0;
}
footer .b-share-icon_twitter {
  background-position: -72px 0;
}
footer .b-share-icon_odnoklassniki {
  background-position: -108px 0;
}
footer .b-share-icon_moimir {
  background-position: -144px 0;
}
footer .b-share-icon_gplus {
  background-position: -180px 0;
}
footer .text {
  color: #636363;
  font-size: 13px;
}
footer .telephone {
  float: right;
  margin: 0;
  height: auto;
  padding-left: 27px;
  width: 310px;
  margin-bottom: 19px;
  margin-bottom: 50px;
  margin-top: 4px;
}
footer .telephone a {
  float: right;
  margin-left: 12px;
}
footer .telephone a,
footer .telephone a span {
  font-size: 20px;
  font-weight: normal;
  color: #2b2a29;
  line-height: 27px;
}
footer .telephone:before {
  background-position: -37px -20px;
  width: 20px;
  height: 25px;
}
footer ul.menu {
  clear: both;
  list-style: none;
  text-align: right;
}
footer ul.menu li {
  display: inline-block;
  margin-left: 18px;
}
footer ul.menu li a {
  color: #636363;
  text-decoration: underline;
}

#messages {
  margin: 0 0 30px 0;
}

.node-blog.node-teaser,
.node-media.node-teaser {
  padding-bottom: 27px;
}
.item-list ul.pager {
  padding-top: 18px;
  padding-left: 0 !important;
  margin-bottom: 0 !important;
  font-size: 12px;
  white-space: nowrap;
}
.item-list .pager li.pager-current {
  padding: 7px 9px;  
}
.item-list .pager li {
  padding: 0;
  margin: 0 0 0 5px;
}
.item-list .pager li a {
  padding: 7px 14px;
  background: red;
  color: #2b2a29;
  background: #dadcdd;
  background: -moz-linear-gradient(top, #fcfcfd, #f0f2f3 2px, #c1c2c4);
  background: -webkit-linear-gradient(top, #fcfcfd, #f0f2f3 2px, #c1c2c4);
  background: -o-linear-gradient(top, #fcfcfd, #f0f2f3 2px, #c1c2c4);
  background: -ms-linear-gradient(top, #fcfcfd, #f0f2f3 2px, #c1c2c4);
  background: linear-gradient(top, #fcfcfd, #f0f2f3 2px, #c1c2c4);
  border: 1px solid #bbbdc0;
  border-top: 1px solid #dadcde;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px; 
  text-decoration: none !important; 
}
.item-list .pager li a:hover {
  background: -moz-linear-gradient(top, #fcfcfd, #c3c4c6 2px, #f2f4f5);  
  background: -webkit-linear-gradient(top, #fcfcfd, #c3c4c6 2px, #f2f4f5);  
  background: -o-linear-gradient(top, #fcfcfd, #c3c4c6 2px, #f2f4f5);  
  background: -ms-linear-gradient(top, #fcfcfd, #c3c4c6 2px, #f2f4f5);  
  background: linear-gradient(top, #fcfcfd, #c3c4c6 2px, #f2f4f5);  
}
.item-list .pager li.pager-last, 
.item-list .pager li.pager-first {
  display: none;
}

.filters {
  width: 202px;
  float: left;
}
.filters .filter {
  width: auto;
  border: 1px solid #d4d3d3;
  background: #fefefe;
  background: -moz-linear-gradient(top, #f0f0f0, #ffffff);
  background: -webkit-linear-gradient(top, #f0f0f0, #ffffff);
  background: -o-linear-gradient(top, #f0f0f0, #ffffff);
  background: -ms-linear-gradient(top, #f0f0f0, #ffffff);
  background: linear-gradient(top, #f0f0f0, #ffffff);
  padding: 20px 20px 13px 20px;
  margin-top: 60px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
  position: relative;
}
.filters .filter:before, .filters .filter:after {
  z-index: -1;
  position: absolute;
  content: '';
  bottom: 15px;
  left: 5px;
  width: 50%;
  height: 135px;
  clip: rect(130px, 200px, 200px, -100px);
  max-width:300px;
  background: #9d9d9d;
  -webkit-box-shadow: 0 15px 10px #9d9d9d;
  -moz-box-shadow: 0 15px 10px #9d9d9d;
  box-shadow: 0 15px 10px #9d9d9d;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.filters .filter:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 5px;
  left: auto;
}
.filters .filter:first-child {
  margin-top: 40px;
}
.filters .filter h3 {
  height: 38px;
  line-height: 38px;
  position: absolute;
  top: -38px;
  margin: 0;
  font-size: 16px;
  color: #1b87cf;
}
.filters .filter h3:before {
  content: '';
  position: absolute;
  top: 14px;
  left: -14px;
  width: 7px;
  height: 9px;
  background: url(/sites/all/themes/allegroukr/img/sprite.png) no-repeat -13px -23px;
}
.filters .filter a {
  display: block;
  font-size: 14px;
  margin-bottom: 7px;
  color: #1b87cf;
  text-decoration: none;
}
.filters .filter a small {
  color: #b2b3b3;
}
.filters .filter a.active,
.filters .filter li.active > a {
  font-weight: bold;
  color: #1772af;
}
.filters .filter ul {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none;
}
.filters .filter ul li {
  padding: 0;
  margin: 0;
}
.filters .filter ul ul {
  padding-left: 27px !important;
  list-style-type: circle;
  display: none;
}
.filters .filter ul ul.active {
  display: block;
}
.filters.left + .region-content,
.filters + .search-results {
  width: 714px;
  float: right;
}
.filters.left + .region-content,
.filters.left + .filters.right + .region-content,
.filters.left + .filters.right + .region-content + .regions {
  padding-top: 3px;
}
.filters.left + .filters.right + .region-content,
.filters.left + .filters.right + .region-content + .regions {
  width: 520px;
  margin-right: 18px;
  float: right;  
}
.filters.left + .filters.right + .region-content + .regions {
  width: 740px;
  margin-right: 0;
  padding-top: 27px;
}
.filters.left + .region-content {
  position: relative;
}
.filters.left + .region-content:after {
  content: '';
  width: 1px;
  background: #e6e6e5;
  position: absolute;
  top: 17px;
  bottom: 0;
  left: -22px;
}
.filters.left + .region-content .item-list {
  position: relative;
}
.filters.left + .region-content .item-list ul.pager:after {
  content: '';
  width: 1px;
  background: white;
  position: absolute;
  top: -26px;
  bottom: 0;
  left: -22px;  
  z-index: 10;
}
.clear-content {
  clear: both;
  padding-top: 60px;
}


.filters .filter form {
  text-align: center;
  padding-bottom: 5px;
}
.filters .filter input[type="text"] {
  text-align: center;
  width: 45%;
}
.filters .filter form input[type="submit"] {
  position: absolute;
  left: -100000px;
}

#breadcrumb {
  font-size: 13px;
  color: #727271;
  padding-bottom: 7px;
}
#breadcrumb a {
  text-decoration: underline;
  color: #5b5b5b;
}

.search-result-rows {
  position: relative;
}
.search-filters {
  line-height: 27px;
  color: #727271;
  margin-bottom: 12px;
}
.search-filters a {
  color: #727271;
  text-decoration: underline;
  padding-left: 8px;
}
.search-filters a.active {
  color: #1b87cf;
}
.search-filters .search-filter {
  display: inline-block;
}
.search-filters .search-sort {
  /* float: right; */
}
.node-article.search-result,
.search-results .search-result {
  border: 1px solid #d9d8d8;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 18px;
  box-shadow: 0 2px 2px #ececeb;
  position: relative;
}
.node-article.search-result a,
.search-results .search-result a {
  display: block;
  padding: 12px 180px 12px 12px;
  text-decoration: none;
  color: #2b2a29;
}
.node-article.search-result a {
  padding: 12px;
}
.node-article.search-result a > span,
.search-results .search-result a > span {
  display: block;
}
.node-article.search-result img,
.search-results .search-result img {
  border: 1px solid #d2d1d1;
  outline: 1px solid white;
  padding: 2px;
  vertical-align: middle;
}
.node-article.search-result .image,
.search-results .search-result .image {
  position: relative;
  width: 134px;
  float: left;
  margin-right: 22px;
}
.node-article.search-result .image:after,
.search-results .search-result .image:after {
  content: "";
  position: absolute;
  z-index: -1;
  box-shadow: 0 0 12px rgba(0,0,0,0.3);
  height: 8px;
  bottom: 0;
  left: 10px;
  right: 10px;
  border-radius: 100%;
}
.search-results .search-result .price-block {
  background: #f5f5f5;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 130px;
  text-align: center;
  padding: 24px 18px;
}
.search-results .search-result .price-block .price {
  color: #ff5900;
  font-size: 17px;
  font-weight: bold;
  display: block;
  padding-bottom: 25px;
}
.search-results .search-result .price-block .bid {
  color: #9d9e9e;
}
.search-results .search-result .price-block .bid b {
  font-size: 14px;
  white-space: nowrap;
}
.node-article.search-result .title,
.search-results .search-result .title {
  max-height: 36px;
  overflow: hidden;
  margin-bottom: 18px;
  color: #1b87cf;
}
.search-results .search-result .title {
  margin-bottom: 0;
}
.search-results .search-result .subtitle {
  font-style: italic;
  padding-bottom: 10px;
}
.node-article.search-result .condition,
.search-results .search-result .condition {
  padding-bottom: 10px;
  color: #9d9e9e;
  font-size: 12px;
}
.search-results .search-result .condition {
  padding-bottom: 0;
}
.search-result-rows {
  margin-bottom: 27px;
}

.product .product-images {
  float: left;
  width: 406px;
}
.product .product-images .image img {
  padding: 2px;
  border: 1px solid #e6e6e5;
}
.product .product-images ul li {
  list-style: none;
  display: block;
  float: left;
}
.product .product-info {
  float: right;
  width: 522px;
  line-height: 22px;
}
.product .product-info .price {
  display: inline-block;
  background: url(/sites/all/themes/allegroukr/img/bg-price.png) no-repeat right center;
  height: 56px;
  line-height: 54px;
  padding: 0 27px 0 9px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  position: relative;
  min-width: 125px;
  text-align: center;
  margin: 7px 0 7px 4px;
}
.product .product-info .price:before {
  content: '';
  display: inline-block;
  width: 9px;
  height: 56px;
  background: url(/sites/all/themes/allegroukr/img/bg-price.png) no-repeat left center;
  position: absolute;
  top: 0;
  left: -9px;
}
.product .product-info .product-rate {
  border: 1px solid #d1d1d1;
  padding: 12px 12px 12px 70px;
  color: #1b87cf;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: 22px 0 27px 0;
  position: relative;
  background: #fbfbfb;
  width: 70%;
  line-height: 16px;
}
.product .product-info .product-rate:before {
  content: '';
  width: 35px;
  height: 33px;
  background: url(/sites/all/themes/allegroukr/img/sprite.png) no-repeat 0 -34px;
  position: absolute;
  top: 13px;
  left: 18px;
}
.product .product-info .product-time {
  margin-bottom: 27px;
  font-size: 1.2em;
}
a.checkout,
a.add-to-cart {
  text-indent: -10000px;
  width: 184px;
  height: 55px;
  background: url(/sites/all/themes/allegroukr/img/buy-button.png) no-repeat;
  display: inline-block;
  margin-bottom: 27px;
}
a.checkout {
  background-position: 0 -57px;
}
.product-description {
  clear: both;
  padding-top: 36px;  
}
.product-description .padding img {
  max-width: 100%;
}
.product-description .padding {
  border: 1px solid #d4d3d3;
  background: #fefefe;
  background: -moz-linear-gradient(top, #f0f0f0, #ffffff);
  background: -webkit-linear-gradient(top, #f0f0f0, #ffffff);
  background: -ms-linear-gradient(top, #f0f0f0, #ffffff);
  background: -o-linear-gradient(top, #f0f0f0, #ffffff);
  background: linear-gradient(top, #f0f0f0, #ffffff);
  padding: 20px 20px 20px 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: relative;
}
.product-description .padding:before {
  content: '';
  position: absolute;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0,0,0,0.5);
  height: 8px;
  bottom: 0;
  left: 10px;
  right: 10px;
  border-radius: 100%;
}
.product-description h3 {
  color: #1b87cf;
  font-size: 16px;
}
.product-description h3:before {
  content: '';
  width: 7px;
  height: 9px;
  display: inline-block;
  vertical-align: 1px;
  margin-right: 6px;
  margin-left: 2px;
  background: url(/sites/all/themes/allegroukr/img/sprite.png) no-repeat -13px -23px;
}
.slider-photo {
  height: 80px;
  position: relative;
  margin-top: 18px;
}
.slider-photo .slider-prev,
.slider-photo .slider-next {
  position: absolute;
  top: 26px;
  left: 0;
  background: red;
  width: 8px;
  height: 32px;
  z-index: 10;
  opacity: 0.5;
  background: url(/sites/all/themes/allegroukr/img/sprite.png) no-repeat -144px -47px;
}
.slider-photo .slider-next {
  left: auto;
  right: 0;
  background-position: -110px -47px;
}
.slider-photo .slider-prev.active,
.slider-photo .slider-next.active {
  opacity: 1;
  cursor: pointer;
}
.slider-photo .slider {
  width: 372px;
  height: 80px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.slider-photo ul {
  width: 10000px;
  position: absolute;
  padding: 0 !important;
}
.slider-photo li {
  list-style: none;
  float: left;
  width: 110px;
  height: 80px;
  margin: 0 7px;
  overflow: hidden;
}

#modalBackdrop {
  background: #000000 !important;
}
#modalContent {
  width: 592px !important;
  margin-left: -296px !important;
  left: 50% !important;
  top: 100px !important;
  height: auto !important;
}
#modalContent .ctools-modal-content,
#modal-content {
  width: auto !important;
  height: auto !important;
  margin: 0 !important;
}
#modalContent .ctools-modal-content {
  border: 6px solid #c2c1c1;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
} 
#modalContent .ctools-modal-content .modal-header {
  background: url(/sites/all/themes/allegroukr/img/bg-popup.png) no-repeat center center #e75400;
  height: 76px;
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
  line-height: 76px; 
  padding: 0 18px;
}
#modalContent div.ctools-modal-content .modal-title {
  font-size: 25px;
  position: relative;
  font-weight: normal;
  padding-left: 90px; 
}
#modalContent div.ctools-modal-content .modal-title:before {
  content: '';
  display: inline-block;
  width: 71px;
  height: 72px;
  background: url(/sites/all/themes/allegroukr/img/big-cart.png) no-repeat;
  position: absolute;
  left: 0;
  top: -38px;
}
#modalContent div.ctools-modal-content a.close {
  text-indent: -10000px;
  width: 34px;
  height: 34px;
  background: url(/sites/all/themes/allegroukr/img/sprite.png) no-repeat -66px -50px;
  margin-top: 21px;
}
#modalContent .basic-cart-cart-form:before {
  content: 'Вы заказываете следующие товары:';
  color: #5b5b5b;
}
#modalContent .basic-cart-cart-form {
  padding: 18px 35px;
}
#modalContent div.ctools-modal-content .modal-content {
  padding: 0 0 36px 0;
}
.basic-cart-grid {
  display: block;
}
.basic-cart-grid .row {
  display: block;
  float: none;
  border: 0;
  padding: 5px 0;
}
.basic-cart-grid .cell {
  display: block;
  float: left;
}
.basic-cart-grid .basic-cart-image {
  float: left;
  display: block;
  padding: 1px;
  border: 1px solid #dedddd;
  margin-right: -104px;
}
.basic-cart-grid .basic-cart-info {
  margin-left: 122px;
  position: relative;
  float: none !important;
}
.basic-cart-cart {
  margin: 0;
}
.basic-cart-cart-node-title {
  max-height: 36px;
  overflow: hidden;
  margin-bottom: 9px;
}
.basic-cart-cart-unit-price,
.basic-cart-cart-x {
  float: left;
  line-height: 29px;
  padding-right: 9px;
}
.basic-cart-cart-unit-price,
.basic-cart-total-price strong {
  color: #ff5900;
  font-weight: bold;
  font-size: 16px;
}
.basic-cart-total-price {
  font-weight: bold;
  font-size: 16px;  
  float: none !important;
  text-align: right;
  line-height: 38px;
}
div.ctools-modal-content .resizable-textarea {
  margin: 0;
}
form.comment-form img {
  margin-top: 1em;
  vertical-align: middle;
}
form.comment-form,
#modalContent .webform-client-form,
#modalContent .basic-cart-checkout-form {
  background: #f2f2f2;
  padding: 18px 32px 32px 32px;
  margin-right: 36px;
  margin-top: 18px;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
form.comment-form {
  width: 380px;
}
#modalContent .webform-client-form {
  padding-bottom: 18px;
}
.webform-client-form > div,
.basic-cart-checkout-form > div {
  width: 390px;
}
form.comment-form input[type="text"],
.webform-client-form input[type="text"],
.webform-client-form input[type="email"],
.basic-cart-checkout-form input[type="text"] {
  width: 100%;
}
.basic-cart-cart-form .row .basic-cart-call-to-action input {
  margin-left: 9px;
}
.basic-cart-cart {
  width: auto;
}
#modalContent .basic-cart-cart-total {
  float: left;
  width: auto;
}
#modalContent .basic-cart-cart-total .row {
  padding: 0;
}
#modalContent .basic-cart-checkout-form input[type="submit"] {
  width: 184px;
  height: 55px;
  border: 0;
  background: url(/sites/all/themes/allegroukr/img/buy-button.png) no-repeat 0 -114px;
  text-align: left;
  padding: 9px 27px 12px 16px;
}
.basic-cart-delete {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  background: white;
  width: 20px;
  height: 18px;  
  text-align: right;
}
.basic-cart-delete:before {
  content: '';
  display: inline-block;
  background: url(/sites/all/themes/allegroukr/img/sprite.png) no-repeat -123px -46px;
  width: 16px;
  height: 17px;
}
#modal-content .messages {
  display: none;
}

#content ul,
#content ol {
  padding-bottom: 18px;
  padding-left: 27px;
}
div.password-suggestions ul {
  padding-bottom: 0 !important;
}
#comments {
  margin-top: 36px;
}

.comment {
  border: 1px solid #d9d8d8;
  padding: 14px 14px 0 14px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 18px;
  box-shadow: 0 2px 2px #ececeb;
  position: relative;
}
.comment .username {
  font-size: 16px;
  display: inline-block;
  color: #ff5900;
  margin-right: 9px;
}
.comment .submitted {
  margin-bottom: 4px;
  padding-bottom: 4px;
  border-bottom: 1px solid #d7d6d6;
  font-size: 12px;
  color: #c2c1c1;
}
#search #autocomplete:before {
  content: '';
  position: absolute;
  top: -6px;
  left: -1px;
  z-index: 100;
  height: 5px;
  width: 5px;
  background: white;
  border-left: 1px solid #577ba3;
}
#search #autocomplete {
  margin-top: -2px;
  right: 0;
  width: auto !important;
  border: 1px solid #577ba3;
  border-top: 1px dashed gray;
  overflow: visible;
}
#search #autocomplete ul {
  padding: 0;
  margin: 0;
}
#search #autocomplete li {
  padding: 6px 12px;
}
#search #autocomplete input {
  visibility: visible;
  opacity: 1;
  margin: 0 9px 0 0;
  width: auto;
  height: auto;
}
#search #autocomplete .in-description {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #f0f0f0;
  white-space: normal;
}
.right-callback {
  float: right;
  line-height: 38px;
}
#modal-content .right-callback {
  line-height: 55px;
}
.search-no-result {
  font-size: 16px;
  padding-top: 27px;
  font-style: italic;
}
.node-type-article .node-article .field-name-field-image {
  float: left;
  margin: 0 18px 18px 0;
}
.node-type-article .node-article .field-name-field-body {
  margin: 0 0 18px 0;
}
.blue-title {
  line-height: 38px;
  margin: 0;
  font-size: 16px;
  color: #1b87cf;
}
.blue-text {
  border: 1px solid #d9d8d8;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 18px;
  padding: 12px;
  color: #1b87cf;
}
.filters.left + .filters.right {
  float: right;
}

.regions h3 {
  padding-bottom: 9px;
  border-bottom: 1px solid #d4d3d3;
}
#content .regions ul {
  padding-left: 0;
}
#content .regions li {
  float: left;
  width: 200px;
  margin-left: 36px;
}

form.confirmation div.form-actions a {
  margin-left: 18px;
}

html.js input.form-autocomplete {
  background-position: 100% 7px;
}

html.js input.throbbing {
  background-position: 100% -13px;
}

.field-name-field-img {
  padding-bottom: 14px;
}
.field-name-field-img img {
  vertical-align: middle;
}

.field-name-body p:last-child {
  margin-bottom: 0;
}