input, 
textarea {
	color: #a29d9c;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

textarea {
  min-height: 50px;
}

input[type="submit"], input[type="button"], button {
	cursor: pointer;
}

input[type="radio"]:not(:checked)+label:before,
input[type="radio"]:checked+label:before,
input[type="checkbox"]:not(:checked)+label:before,
input[type="checkbox"]:checked+label:before,
.select-wrapper span:after {
	background-image: url(select.png);
}

input[type="radio"]:disabled+label,
input[type="checkbox"]:disabled+label,
.select-wrapper.disabled span {
  opacity: 0.5;
  cursor: default !important;
}

.error .file-wrapper,
.error .select-wrapper {
  border-color: red;
}


/* Radio buttons */	
input[type="radio"] {
	margin-right: 9px;
	cursor: pointer;
}		
input[type="radio"]:not(:checked),
input[type="radio"]:checked {
	opacity: 0;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	margin: -10px -20px -10px 0;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	position: relative;
	z-index: 1;
}
input[type="radio"]+label {
	position: relative;
	line-height: 20px;
	display: inline;
}
input[type="radio"]:not(:checked)+label:before,
input[type="radio"]:checked+label:before {
	content: '';
	background-position: 0 0;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	display: inline-block;
	margin: -5px 10px -5px 0;
	cursor: pointer;
}
input[type="radio"]:checked+label:before {
	background-position: 0 -20px;
}

/* Checkbox */
input[type="checkbox"] {
	margin-right: 9px;
	cursor: pointer;
}
input[type="checkbox"]:not(:checked),
input[type="checkbox"]:checked {
	opacity: 0;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	margin: -10px -20px -10px 0;
	width: 20px;
	height: 20px;
	position: relative;
	z-index: 1;
}
input[type="checkbox"]+label {
	position: relative;
	line-height: 20px;
	display: inline;
}
input[type="checkbox"]:not(:checked)+label:before,
input[type="checkbox"]:checked+label:before {
	content: '';
	background-position: -20px 0;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
	display: inline-block;
	margin: -5px 10px -5px 0;
	cursor: pointer;
}
input[type="checkbox"]:checked+label:before {
	background-position: -20px -20px;
}

/* Select */
.select-wrapper {
	overflow: hidden;
	width: auto;
	display: inline-block;
	background-color: #fff;
	border: 1px solid #e9e9e9;
	height: 32px;
	position: relative;
	text-align: left;
	vertical-align: middle;
}
.select-wrapper span {
  display: block;
	font-size: 14px;
	line-height: 32px;
	height: 32px;
	padding: 0 8px;
	color: #a29d9c;
	padding-right: 30px;
	text-align: left;
	white-space: nowrap;
}
.select-wrapper span:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 30px;
  background-color: rgba(255,255,255,0.9);
	background-position: right -45px;
}
.select-wrapper select {
	background: none;
	border: 0;
	-webkit-appearance: none;
	outline: none;
	font-size: 14px;
	line-height: 22px;
	height: 22px;
	margin-right: 26px;
	padding: 5px 0;
	display: inline-block;
	cursor: pointer;
	width: 100%;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	opacity: 0;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
}

/* Text Field */
textarea,
input[type="text"],
input[type="email"],
input[type="password"] {
	background: #fff;
	font-size: 14px;
	line-height: 16px;
	height: 32px;
	border: 1px solid #e9e9e9;
	padding: 5px 8px;
}

textarea {
  height: auto;
}

/* File */
.file-wrapper {
	width: auto;
	display: inline-block;
	background: #fff;
	position: relative;
	cursor: pointer;
	height: 38px;
	text-align: left;
	vertical-align: top;
	margin-right: 2px;
}
.file-wrapper:after {
	display: inline-block;
	content: 'Выбрать файл';
	text-transform: uppercase;
	background: #FF9D2A;
	padding: 0 8px;
	cursor: pointer;
	font-size: 11px;
	height: 35px;
	line-height: 36px;
	position: absolute;
	z-index: 2;
	right: 0px;
	top: 0px;
	border: 1px solid #e9e9e9;
  color: #434242;
  text-shadow: 0 1px 1px #ffed00;
  background: #f4cd00;
  background: -moz-linear-gradient(top, #f6d000, #e4b200);
  background: -webkit-linear-gradient(top, #f6d000, #e4b200);
  background: -o-linear-gradient(top, #f6d000, #e4b200);
  background: -ms-linear-gradient(top, #f6d000, #e4b200);
  background: linear-gradient(top, #f6d000, #e4b200);
}
.file-wrapper span {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	color: #a29d9c;
	cursor: pointer;
	line-height: 38px;
	padding-left: 9px;
	font-size: 13px;
	overflow: hidden;
	text-align: left;
}
.file-wrapper input[type="file"] {
	opacity: 0;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	position: relative;
	z-index: 10;
	cursor: pointer;
	height: 36px;
	width: 100%;
}

@media screen and (min-resolution: 192dpi) {
  input[type="radio"]:not(:checked)+label:before,
  input[type="radio"]:checked+label:before,
  input[type="checkbox"]:not(:checked)+label:before,
  input[type="checkbox"]:checked+label:before,
  .select-wrapper {
	  background-image: url(select-2x.png);
    background-size: 40px 81px;
  }
}