@media screen and (max-width: 1200px) {
  .wrap {
    width: 970px;
  } 
  
  body > header .logo {
    width: 210px;
    height: 48px;
  }
  
  body > header .form {
    width: 566px;
  }
  
  body > header .form .phones {
    font-size: 16px;
  }
  
  body > header .form .phones a.free {
    font-size: 20px;
  }
  
  body > header .allegro-spares-form .form-item {
    width: 150px;
  }
  
  body > header .allegro-spares-form .form-item .select-wrapper span {
    font-size: 13px;
  }
  
  section.main-content .left-column,
  section.main-content .left-column + .right-column {
    width: 212px;
  }
  
  section.main-content .left-column + .main-column {
    width: 698px;
  }
  
  section.main-content .left-column + .right-column + .main-column {
    width: 470px;
  }
  
  .filters input[type="text"] {
    width: 70px;
  }
  
  .search-results .search-result {
    padding-left: 0;
    padding-right: 0;
  }
  
  .search-results .search-result .verified .title:before {
    left: -19px;
  }
  
  .search-results .search-result a.product {
    width: 551px;
  }
  
  .search-results .search-result .info {
    width: 132px;
  }
  
  .search-results .search-result .title, 
  .search-results .search-result .subtitle, 
  .search-results .search-result .condition {
    margin-left: 162px;
  }
  
  .view-recommended-products .item .image {
    width: 193px;
  }
  
  .view-last-articles .item .image {
    width: 213px;
    height: 106px;
  }
  
  body > footer .logo {
    width: 154px;
    height: 39px;
  }
  
  .view-blog .views-row {
    width: 215px;
  }
  
  .view-blog .views-row img {
    width: 215px;
    height: auto;
  }
  
  .node-article-wrapper .node-article.node-teaser {
    width: 212px;
  }
  
  .view-recommended-products .owl-not-loaded .item {
    width: 50%;
  }
  
  .product-wrapper .product-images {
    width: 292px;
  }
  
  .product-wrapper .product-images .image img {
    width: 100%;
    height: auto;
  }
  
  .product-wrapper .product-info {
    width: 620px;
  }
}

@media screen and (max-width: 1000px) {
  .wrap {
    width: 290px;
  }
  
  h1, h2, h3, h4 {
    text-align: center;
  }
  
  body > nav {
    height: 52px;
  }
  
  body > nav .wrap {
    position: relative;
  }
  
  body > nav .menu {
    background: #4e4b48;
    background: linear-gradient(to bottom, #5f5b57, #3d3b39);
    width: 22px;
    height: 21px;
    padding: 8px 9px;
    display: block;
    border: 1px solid #6c6968;
    border-radius: 7px;
    cursor: pointer;
    position: absolute;
    top: 6px;
    left: -3px;
  }
  
  body > nav .menu:after {
    content: '';
    display: block;
    width: 22px;
    height: 21px;
    background: url(../img/sprite.png) no-repeat -44px -57px;
  }
  
  body > nav ul {
    display: none;
    left: -15px;
    right: -15px;
    position: absolute;
    top: 52px;
    padding: 8px 0;
    z-index: 10;
    background: #353230;
    background: linear-gradient(to bottom, #353230, #353230);
  }
  
  body > nav li {
    display: block;
    float: none;
  }
  
  body > nav li a {
    font-size: 16px;
  }
  
  body > nav ul.opened {
    display: block;
  }
  
  body > header.fixed {
    display: none;
  }
  
  body > header .logo {
    width: 142px;
    height: 36px;
    position: absolute;
    top: 7px;
    left: 50%;
    margin-top: -52px;
    margin-left: -78px;
  }
  
  body > header .form {
    width: 100%;
  }
  
  body > header .form .form-type-checkbox {
    display: none;
  }
  
  body > header .wrap {
    position: relative;
    padding-top: 110px;
  }
  
  body > header .form .phones {
    position: absolute;
    top: 30px;
    font-size: 15px;
    white-space: nowrap;
  }
  
  body > header .form .phones a.free {
    display: block;
    margin-bottom: 6px;
  }
  
  body > header .form .phones a.viber:before,
  body > header .form .phones a.whats:before {
    display: none;
  }
  
  body > header .cart {
    position: absolute;
    top: 10px;
    right: 0;
    text-indent: -9999px;
    position: 10;
  }
  
  body > header .cart a[data-count]:after {
    text-indent: 0;
  }
  
  body > header .allegro-spares-form {
    height: auto;
    background: linear-gradient(to bottom, #fbfbfb, #f5f5f5);
  }
  
  body > header .allegro-spares-form .form-item {
    width: 100%;
    float: none;
    margin: 16px 0;
  }
  
  body > header .allegro-spares-form input[type="submit"] {
    width: 100%;
    margin-bottom: 8px;
  }
  
  section.main-content header .breadcrumb {
    display: none;
  }
  
  section.main-content .left-column {
    width: auto;
    float: none;
    padding-right: 0;
  }
  
  section.main-content .left-column:before {
    display: none;
  }
  
  .filters {
    display: none;
  }
  
  .main-column .filters {
    display: block;
  }
  
  .main-column .filters li {
    float: none;
    width: auto;
  }
  
  section.main-content .left-column + .main-column,
  section.main-content .left-column + .right-column + .main-column {
    width: auto;
    float: none;
  }
  
  .search-results {
    padding-bottom: 36px;
  }
  
  .item-list .pager {
    text-align: center;
    padding-bottom: 27px;
    position: relative;
  }
  
  .item-list .pager-next,
  .item-list .pager-previous {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  
  .item-list .pager-next {
    left: auto;
    right: 0;
  }
  
  .search-results .search-order .select-wrapper span:before {
    display: none;
  }
  
  section.main-content .columns {
    padding-left: 0;
    padding-right: 0;
  }
  
  .search-results .search-result {
    position: relative;
  }
  
  .search-results .search-result a.product {
    width: auto;
  }
  
  .search-results .search-result .image {
    float: none;
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
  }
  
  .search-results .search-result .title, 
  .search-results .search-result .subtitle, 
  .search-results .search-result .condition {
    text-align: center;
    margin-left: 0;
  }
  
  .search-results .search-result .info {
    position: absolute;
    top: 10px;
    right: 0;
  }
  
  .search-results .search-result .verified .title:before {
    display: inline-block;
    position: static;
    vertical-align: -2px;
    margin-right: 5px;
  }
  
  .view-recommended-products .item {
    padding: 0 33px;
  }
  
  .view-last-articles .owl-carousel {
    margin: 0 15px
  }
  
  .view-last-articles .owl-nav {
    display: block;
  }
  
  .view-last-articles .item {
    padding: 0 23px;
  }
  
  .view-last-articles .all-articles {
    position: static;
    font-size: 16px;
    text-align: center;
    display: block;
    margin-top: 18px;
    text-decoration: underline;
  }
  
  body > footer {
    background: #353230;
    background: linear-gradient(to bottom, #353230, #353230);
  }
  
  body > footer .wrap:before {
    display: none;
  }
  
  body > footer .phones {
    display: none;
  }
  
  body > footer .logo {
    position: absolute;
    top: auto;
    bottom: 80px;
    left: 50%;
    margin-left: -84px;
  }
  
  body > footer ul {
    text-align: center;
    float: none;
    display: block;
  }
  
  body > footer ul li {
    float: none;
    display: inline-block;
    padding: 0 8px;
  }
  
  body > footer ul li a {
    color: white;
    font-size: 14px;
    text-decoration: underline;
    line-height: 30px;
  }
  
  body > footer .copy {
    padding-top: 80px;
  }
  
  .comment-form-wrapper,
  .basic-cart-checkout-form {
    width: auto;
  }
  
  .basic-cart-checkout-form {
    margin-top: 27px;
  }
  
  .comment-form-wrapper .form-item-name,
  .comment-form-wrapper .form-item-mail {
    width: auto;
    float: none;
  }
  
  .comment-form-link {
    display: none;
  }
  
  .basic-cart-cart-form .row {
    display: block;
  }
  
  .basic-cart-cart-form .cell {
    display: block;
  }
  
  .basic-cart-cart-form .basic-cart-total-price,
  .basic-cart-cart-form .basic-cart-call-to-action {
    text-align: center;
  }
  
  .basic-cart-cart-form .basic-cart-image {
    float: left;
    margin-right: -90px;
  }
  
  .basic-cart-cart-form .basic-cart-cart-contents {
    white-space: nowrap;
  }
  
  .basic-cart-cart-form .basic-cart-cart-node-title {
    width: auto;
    margin-left: 105px;
    white-space: normal;
  }
  
  .basic-cart-cart-form .basic-cart-clear {
    clear: both;
    padding-bottom: 15px;    
  }
  
  .basic-cart-cart-form .basic-cart-cart-quantity,
  .basic-cart-cart-form .basic-cart-cart-unit-price,
  .basic-cart-cart-form .basic-cart-delete,
  .basic-cart-cart-form .basic-cart-refresh {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
  
  .basic-cart-cart-form .basic-cart-cart-unit-price {
    font-size: 16px;
    line-height: 35px;
  }
  
  .field-name-field-blog-image img {
    width: 100%;
    height: auto;
  }
  
  .view-blog .views-row {
    width: 265px;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
  
  .view-blog .views-row img {
    width: auto;
    height: auto;
  }
  
  .node-article-wrapper .node-article.node-teaser {
    margin: 15px auto;
    width: 265px;
    float: none;
  }
  
  .field-name-field-block .field-name-field-image {
    float: none;
    width: auto;
    padding-bottom: 18px;
  }
  
  .field-name-field-block .field-name-field-image img {
    width: 100%;
    height: auto;
    vertical-align: top;
  }
  
  .field-name-field-block .field-name-field-body {
    float: none;
    width: auto;
  }
  
  .product-wrapper .product-images {
    width: auto;
    float: none;
  }
  
  .product-wrapper .product-info {
    width: auto;
    float: none;
  }
  
  .product-wrapper .product-info .info {
    padding: 18px;
  }
  
  .product-wrapper .product-info .info .buy-form {
    clear: both;
    padding-top: 9px;
    float: none;
  }
  
  .product-wrapper .product-info .info .price b, 
  .product-wrapper .product-info .info .bid b, 
  .product-wrapper .product-info .info .condition b {
    font-size: 14px;
  }
  
  .product-wrapper .product-info .info .buy-form .add-to-cart, 
  .product-wrapper .product-info .info .buy-form .checkout {
    font-size: 13px;
    padding: 0 9px;
  }
  
  .product-wrapper .product-info .delivery {
    margin-bottom: 20px;
    float: none;
  }
  
  .product-wrapper .product-info .seller {
    margin: 0;
    float: none;
  }
  
  .product-wrapper .product-description {
    display: none;
  }
  
  #up {
    display: none !important;
  }
}