* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  font: normal 14px/18px Arial,sans-serif;
  color: #666666;
  min-width: 300px;
}

.wrap {
  width: 1170px;
  margin: 0 auto;
}

a {
  color: #0083ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.field-name-comment-body p,
.field-name-body p {
  padding-bottom: 18px;
}

.field-name-comment-body p:last-child,
.field-name-body p:last-child {
  padding-bottom: 0;
}

.field-name-comment-body ul,
.field-name-body ul {
  padding-bottom: 18px;
  padding-left: 27px;
}

.field-name-comment-body + .field-name-field-img {
  padding-top: 18px;
}

h1 {
  font-size: 24px;
  line-height: 27px;
  margin-bottom: 27px;
  color: #353230;
}

h2, .h2 {
  font-size: 22px;
  margin-bottom: 27px;
  color: #353230;
}

h3, .h3 {
  font-size: 20px;
  margin-bottom: 18px;
  color: #353230;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.product-wrapper .product-info .info .buy-form .add-to-cart,
.product-wrapper .product-info .info .buy-form .checkout,
.file-wrapper:after,
input[type="submit"] {
  display: inline-block;
  font-size: 14px;
  font-family: Arial,sans-serif;
  font-weight: bold;
  color: white;
  height: 35px;
  line-height: 35px;
  padding: 0 18px;
  border: 0;
  border-radius: 3px;
  background: #ff5b00;
  background: linear-gradient(to bottom, #ff7100, #ff4300);
  border-top: 1px solid #ff7100;
  border-bottom: 1px solid #bf6b3e;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
}

.file-wrapper {
  height: 35px;
}

.file-wrapper:after {
  font-size: 10px;
  text-shadow: none;
}

.product-wrapper .product-info .info .buy-form .add-to-cart,
.product-wrapper .product-info .info .buy-form .checkout {
  margin-left: 9px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  height: 35px;
  border-radius: 3px;
  border: 1px solid #767676;
  background: #fafafa;
  background: linear-gradient(to bottom, #f5f5f5, #ffffff);
}

input[type="text"].error,
input[type="email"].error,
input[type="password"].error,
textarea.error {
  border-color: red;
}

textarea {
  height: 100px;
}

.select-wrapper {
  height: 35px;
  border: 1px solid #767676;
  border-radius: 3px;
  background: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.select-wrapper span {
  color: #666666;
  height: 33px;
  line-height: 35px;
}

.select-wrapper span:after {
	background-position: right -44px;
}

body > nav {
  background: #353230;
  background: linear-gradient(to bottom, #353230, #353230);
  height: 37px;
  line-height: 37px;
}

body > nav ul {
  display: block;
  list-style: none;
}

body > nav li {
  float: left;
}

body > nav a {
  color: #ffffff;
  display: block;
  padding: 0 15px;
  position: relative;
  border-left: 1px solid #424242;
  border-right: 1px solid #222222;
  font-size: 13px;
}

body > nav a.active,
body > footer a.active {
  color: #ff5900;
}

body > nav li:first-child a {
  border-left: 0;
}

body > nav li:last-child a {
  border-right: 0;
}

body > header.fixed {
  position: fixed;
  z-index: 100;
  left: 0;
  top: -100px;
  right: 0;
  opacity: 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease 0;
}

body > header.fixed.shown {
  opacity: 1;
  top: 0;
}

body > header.fixed .wrap {
  padding: 12px 0;
}

body > header.fixed .logo {
  margin-top: 0;
  width: 210px;
  height: 48px;
}

body > header {
  background: white;
}

body > header .wrap {
  padding-top: 16px;
}

body > header .logo {
  display: block;
  text-indent: -9999px;
  width: 233px;
  height: 59px;
  background: url(../logo.png) no-repeat;
  background-size: 100% 100%;
  margin-top: 12px;
  float: left;
  margin-right: 15px;
}

body > header .form {
  float: left;
  width: 688px;
}

body > header .form .form-item {
  margin: 0;
}

body > header .form form {
  height: 48px;
  position: relative;
  border: 1px solid #767676;
  border-radius: 3px;
  box-shadow: inset 0 10px 10px #f8f8f8, inset 0 0 0 1px white;
}

body > header .form input[type="text"] {
  background: transparent;
  border: 0;
  font-size: 16px;
  font-weight: normal;
  height: 48px;
  padding: 14px 18px;
}

body > header .form input[type="submit"] {
  background: url(../img/sprite.png) no-repeat 0 0 #505050;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50px;
  height: auto;
  border: 0;
  border-radius: 0 2px 2px 0;
}

body > header .form .form-type-checkbox {
  position: absolute;
  top: 1px;
  right: 50px;
  bottom: 1px;
  padding: 14px 18px 14px 14px;
  background: #f7f7f7;
  font-size: 12px;
}

body > header .form .form-type-checkbox label:before {
  margin-right: 5px;
}

body > header .form .phones,
body > footer .phones {
  padding-top: 12px;
  font-size: 18px;
}

body > header .form .phones a,
body > header .form .phones a:hover,
body > footer .phones a,
body > footer .phones a:hover {
  color: #333333;
  text-decoration: none;
  margin-right: 10px;
  vertical-align: middle;
  line-height: 18px;
}

body > header .form .phones a:before,
body > footer .phones a:before {
  content: '';
  display: inline-block;
  vertical-align: -2px;
  width: 17px;
  height: 17px;
  margin-right: 6px;
  background: url(../img/sprite.png) no-repeat -80px -82px;
}

body > header .form .phones a.free,
body > footer .phones a.free {
  font-size: 22px;
  font-weight: bold;
}

/*
body > header .form .phones a.free:before,
body > footer .phones a.free:before {
  background-position: -98px 0;
  vertical-align: -4px;
}

body > header .form .phones a.viber:before,
body > footer .phones a.viber:before {
  background-position: -98px -26px;
  vertical-align: -6px;
}

body > header .form .phones a.whats:before,
body > footer .phones a.whats:before {
  background-position: -122px 0;
  width: 25px;
  vertical-align: -4px;
}
*/

body > header .form #autocomplete:before {
  content: '';
  position: absolute;
  top: -6px;
  left: -1px;
  z-index: 100;
  height: 5px;
  width: 5px;
  background: white;
  border-left: 1px solid #577ba3;
}

body > header .form #autocomplete {
  margin-top: -2px;
  left: -1px !important;
  right: -1px !important;
  width: auto !important;
  border: 1px solid #767676;
  border-top: 1px dashed gray;
  overflow: visible;
}

body > header .form #autocomplete ul {
  padding: 0;
  margin: 0;
}

body > header .form #autocomplete li {
  padding: 6px 12px;
}

body > header .cart {
  float: right;
  font-size: 18px;
  font-weight: bold;
}

body > header .cart a,
body > header .cart a:hover {
  display: block;
  color: #353230;
  height: 50px;
  line-height: 50px;
  position: relative;
  padding-left: 55px;
  text-decoration: none;
}

body > header .cart a:before {
  content: '';
  position: absolute;
  top: 6px;
  left: 0;
  width: 44px;
  height: 37px;
  background: url(../img/sprite.png) no-repeat -52px 0;
}

body > header .cart a[data-count]:after {
  content: attr(data-count);
  padding: 4px 7px;
  height: 14px;
  line-height: 14px;
  min-width: 6px;
  text-align: center;
  background: #ff5900;
  border-radius: 22px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  left: 26px;
  bottom: -2px;
}

body > header .spares {
  clear: both;
  padding-top: 16px;
}

body > header .allegro-spares-form {
  height: 34px;
  padding: 10px 32px;
  background: #fafafa;
  background: linear-gradient(to bottom, #ffffff, #f5f5f5);
  border-radius: 16px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.15);
  text-align: right;
}

body > header .allegro-spares-form .form-item {
  margin: 0;
  width: 190px;
  margin-right: 10px;
  float: left;
}

body > header .allegro-spares-form .form-item .select-wrapper {
  width: 100%;
}

body > header .allegro-spares-form .form-item .select-wrapper span:after {
  background-position: right -85px;
}

.messages-wrapper {
  margin-bottom: 27px;
}

section.main-content header {
  position: relative;
  padding: 28px 15px 14px;
  margin-bottom: 10px;
}

section.main-content header h1 {
  margin-bottom: 12px;
}

section.main-content header h1 small {
  font-size: 16px;
  color: #7f7f7f;
  font-weight: normal;
}

section.main-content header .subtitle {
  font-size: 16px;
  color: #666666;
  margin-bottom: 12px;
  margin-top: -12px;
}

section.main-content .wrap {
  position: relative;
}

section.main-content .search-results .search-result:before,
section.main-content .search-results .search-order:before,
section.main-content .left-column:before,
section.main-content .filters .filter:before,
body > footer .wrap:before,
section.main-content header:before,
.basic-cart-cart-form .basic-cart-cart-unit-price:before,
.basic-cart-cart-form .basic-cart-cart:before,
.main-column .filters h3:before,
.product-wrapper .product-description h3:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  height: 1px;
  background: #dcdcdc;
  background: linear-gradient(to right, #ffffff, #dcdcdc 30%, #dcdcdc, #dcdcdc 70%, #ffffff);
}

section.main-content header .breadcrumb > * {
  margin: 0 5px;
}

section.main-content header .breadcrumb > :first-child {
  margin-left: 0;
}

section.main-content .columns {
  padding: 0 15px 48px;
}

section.main-content .left-column,
section.main-content .left-column + .right-column {
  float: left;
  padding-right: 15px;
  width: 263px;
  position: relative;
}

section.main-content .left-column + .right-column {
  float: right;
  padding-right: 0;
  padding-left: 15px;
}

section.main-content .left-column + .main-column {
  width: 847px;
  float: right;
}

section.main-content .left-column + .right-column + .main-column {
  width: 568px;
  float: right;
}

section.main-content .filters .filter {
  margin-bottom: 16px;
  padding-bottom: 16px;
  position: relative;
}

section.main-content .left-column:before,
.basic-cart-cart-form .basic-cart-cart-unit-price:before {
  width: 1px;
  height: auto;
  top: 0;
  left: auto;
  background: #dcdcdc;
  background: linear-gradient(to bottom, #ffffff, #dcdcdc 30%, #dcdcdc, #dcdcdc 70%, #ffffff);
}

section.main-content .filters .filter:last-child:before {
  display: none;
}

.filters .h3 {
  margin-bottom: 12px;
}

.filters a {
  display: block;
  padding: 5px 0;
}

.filters ul {
  list-style: none;
}

.filters a.active {
  font-weight: bold;
  color: #0072de;
}

.filters a small {
  color: #666666;
  font-size: 11px;
}

.filters input[type="text"] {
  width: 100px;
}

.filters input[type="submit"] {
  position: absolute;
  left: -100000px;
}

.search-results {
  padding-bottom: 12px;
}

.search-results .search-no-result {
  padding-top: 18px;
  font-size: 14px;
  text-align: center;
}

.search-results .search-order {
  position: relative;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 14px;
}

.search-results .search-order .form-item {
  margin: 0;
}

.search-results .search-order input[type="submit"] {
  position: absolute;
  left: -100000px;
}

.search-results .search-order .select-wrapper {
  border: 1px solid #dfdfdf;
  height: 30px;
}

.search-results .search-order .select-wrapper span {
  font-size: 13px;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  padding-right: 40px;
  background: #fbfbfb;
  background: linear-gradient(to bottom, #ffffff, #f5f5f5);
  position: relative;
}

.search-results .search-order .select-wrapper span:before {
  content: 'Сортировать по: ';
  font-weight: normal;
  margin-right: 20px;
}

.search-results .search-order .select-wrapper span:after {
  background-color: transparent;
  background-position: right -46px;
}

.search-results .search-order .select-wrapper:after {
  content: '';
  position: absolute;
  top: 2px;
  bottom: 2px;
  width: 1px;
  right: 30px;
  background: #dcdcdc;
  background: linear-gradient(to bottom, #ffffff, #dcdcdc 30%, #dcdcdc, #dcdcdc 70%, #ffffff);
}

.search-results .search-result {
  position: relative;
  padding: 10px 15px;
}

.search-results .search-result a.product {
  color: #666666;
  text-decoration: none;
  width: 636px;
  float: left;
}

.search-results .search-result a.product:hover {
  text-decoration: none;
}

.search-results .search-result .image {
  float: left;
  width: 138px;
  height: 104px;
  margin-right: -138px;
}

.search-results .search-result .title,
.search-results .search-result .subtitle,
.search-results .search-result .condition {
  margin-left: 180px;
  display: block;
}

.search-results .search-result .title {
  color: #0083ff;
  font-size: 16px;
  padding-top: 4px;
  padding-bottom: 4px;
  position: relative;
}

.search-results .search-result .verified .title:before {
  content: '';
  position: absolute;
  top: 4px;
  left: -21px;
  width: 16px;
  height: 16px;
  background: url(../img/sprite.png) no-repeat -123px -27px;
}

.search-results .search-result .subtitle {
  margin-bottom: 14px;
}

.search-results .search-result .condition {
  font-size: 13px;
}

.search-results .search-result .condition b {
  color: #cccccc;
  font-weight: normal;
}

.search-results .search-result .info {
  float: right;
  width: 150px;
  white-space: nowrap;
}

.search-result .price {
  display: block;
  font-size: 24px;
  font-weight: bold;
  color: #353230;
  padding-top: 8px;
  padding-bottom: 14px;
}

.search-results .search-result .add-to-cart,
.search-results .search-result .checkout {
  display: block;
  color: #ff5a00;
  text-decoration: underline;
  margin-bottom: 8px;
}

.search-results .search-result .free {
  color: #37cb45;
  font-weight: bold;
  display: block;
}

.search-results .search-result .bold {
  font-weight: bold;
  display: block;
}

.item-list {
  clear: both;
  margin: 0;
  padding: 18px 0 0;
  text-align: right;
}

.item-list .pager {
  margin: 0;
  padding: 0;
  text-align: right;
}

.item-list .pager ul {
  display: block;
  list-style: none;
}

.item-list .pager li {
  display: inline-block;
  padding: 0 5px;
  margin: 0;
}

.item-list .pager li.pager-last,
.item-list .pager li.pager-first {
  display: none;
}

.view-recommended-products {
  padding-bottom: 36px;
}

.view-recommended-products .owl-carousel {
  margin: 0 15px;
  width: auto;
}

.view-recommended-products .item {
  padding: 0 15px;
}

.view-recommended-products .item a.product {
  display: block;
  color: #666666;
  font-size: 12px;
  line-height: 14px;
}

.view-recommended-products .item a.product,
.view-recommended-products .item a.product:hover {
  text-decoration: none;
}

.view-recommended-products .item .image {
  display: block;
  width: 174px;
  height: 144px;
  margin-bottom: 10px;
}

.view-recommended-products .item .image img {
  width: 100%;
  height: 100%;
}

.view-recommended-products .item .title,
.view-recommended-products .item .subtitle {
  display: block;
  height: 28px;
  overflow: hidden;
  margin-bottom: 12px;
}

.view-recommended-products .item .title {
  color: #0083ff;
  margin-bottom: 4px;
}

.view-recommended-products .item .price {
  float: right;
  font-weight: bold;
  color: #353230;
}

.view-recommended-products .item a.add-to-cart,
.view-recommended-products .item a.checkout {
  color: #ff5a00;
  text-decoration: underline;
  font-size: 12px;
}

.owl-carousel .owl-prev,
.owl-carousel .owl-next {
  position: absolute;
  top: 50%;
  left: -15px;
  width: 14px;
  height: 31px;
  margin-top: -16px;
  text-indent: -99999px;
  background: url(../img/sprite.png) no-repeat 0 -52px;
}

.owl-carousel .owl-next {
  left: auto;
  right: -15px;
  background-position: -17px -52px;
}

.view-recommended-products .owl-not-loaded {
  margin: 0 -15px;
}

.view-recommended-products .owl-not-loaded .item {
  width: 33%;
  height: 245px;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.view-recommended-products .owl-not-loaded .item .image {
  width: 100%;
  height: auto;
}

.view-recommended-products .owl-not-loaded .item img {
  width: 100%;
  height: auto;
}

.view-recommended-products .owl-prev,
.view-recommended-products .owl-next {
  margin-top: -40px;
}

.view-last-articles {
  position: relative;
}

.view-last-articles .all-articles {
  position: absolute;
  top: 6px;
  right: 0;
}

.view-last-articles .item {
  padding: 0 15px;
}

.view-last-articles .owl-carousel {
  margin: 0 -15px;
  width: auto;
}

.view-last-articles .owl-nav {
  display: none;
}

.view-last-articles .item {
  font-size: 12px;
  line-height: 14px;
}

.view-last-articles .item a {
  color: #666666;
  text-decoration: none;
}

.view-last-articles .item .image {
  display: block;
  width: 265px;
  height: 120px;
  padding-bottom: 14px;
}

.view-last-articles .item .image img {
  width: 100%;
  height: 100%;
}

.view-last-articles .item .title {
  display: block;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 4px;
  color: #0083ff;
}

.view-last-articles .item:hover .title {
  text-decoration: underline;
}

body > footer .wrap {
  position: relative;
  padding: 16px 0 20px;
}

body > footer .wrap:before {
  top: 0;
  bottom: auto;
}

body > footer .logo {
  display: block;
  text-indent: -9999px;
  width: 194px;
  height: 49px;
  background: url(../logo.png) no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 16px;
  left: 0;
}

body > footer ul {
  float: right;
  list-style: none;
}

body > footer ul li {
  float: left;
  font-size: 13px;
  padding-right: 16px;
}

body > footer .phones {
  padding-top: 48px;
  font-size: 14px;
  text-align: center;
}

body > footer .phones a:before {
  vertical-align: -3px;
}

body > footer .phones a.free {
  font-size: 18px;
}

/*
body > footer .phones a.free:before,
body > footer .phones a.whats:before {
  vertical-align: -5px;
}

body > footer .phones a.viber:before {
  vertical-align: -7px;
}
*/

body > footer .copy {
  text-align: center;
  padding-top: 12px;
  color: #cccccc;
}

.comment {
  margin-bottom: 32px;
}

.comment .content {
  padding: 15px;
  border-radius: 6px;
  border: 1px solid #cfcfcf;
  color: #000;
}

.comment .submitted {
  padding-bottom: 18px;
  position: relative;
}

.comment .submitted .links {
  position: absolute;
  top: 0;
  right: 0;
}

.comment .submitted .username {
  color: #353230;
  font-size: 18px;
}

.comment .submitted .date {
  color: #cccccc;
  font-size: 12px;
}

.confirmation .form-submit {
  margin-right: 18px;
}

.comment-form-wrapper,
.basic-cart-checkout-form {
  background: #f9f9f9;
  border-radius: 5px;
  padding: 30px;
  width: 540px;
  margin: 48px auto 0;
}

.comment-form-wrapper .form-text,
.comment-form-wrapper .form-textarea,
.basic-cart-checkout-form .form-text,
.basic-cart-checkout-form .form-textarea {
  background: white;
  border-color: #767676;
  width: 100%;
}

.comment-form-wrapper .form-item-name,
.comment-form-wrapper .form-item-mail {
  width: 49%;
  float: left;
  margin-top: 0;
}

.comment-form-wrapper .form-item-mail {
  float: right;
}

.comment-form-wrapper .form-actions {
  margin-bottom: 0;
}

.comment-form-wrapper .text-format-wrapper .form-item {
  margin-bottom: 1em;
}

.comment-form-wrapper .captcha img {
  vertical-align: middle;
}

.comment-form-link {
  position: absolute;
  top: 32px;
  right: 15px;
  background: #0082ff;
  background: linear-gradient(to bottom, #00a3ff, #0066ff);
  border-radius: 3px;
  font-weight: bold;
  color: white;
  height: 30px;
  line-height: 30px;
  padding: 0 18px;
}

.basic-cart-grid {
  display: block;
}

.basic-cart-grid .form-item {
  margin: 0;
}

.basic-cart-cart-form .basic-cart-image img {
  vertical-align: middle;
  border-radius: 5px;
  border: 1px solid #cfcfcf;
}

.basic-cart-cart-form .row {
  display: table;
  width: 100%;
  padding: 0;
  float: none;
  border: 0;
}

.basic-cart-cart-form .cell {
  display: table-cell;
  vertical-align: middle;
  float: none;
}

.basic-cart-cart-form .basic-cart-image {
  width: 90px;
  padding-right: 15px;
}

.basic-cart-cart-form .basic-cart-cart-node-title {
  width: 40%;
  text-align: left;
  font-size: 16px;
}

.basic-cart-cart-form .basic-cart-cart-quantity {
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.basic-cart-cart-form .basic-cart-cart-quantity .minus,
.basic-cart-cart-form .basic-cart-cart-quantity .plus {
  display: inline-block;
  color: #0083ff;
  font-size: 24px;
  font-weight: bold;
  vertical-align: middle;
  cursor: pointer;
  padding: 0 10px;
}

.basic-cart-cart-form .basic-cart-cart-quantity .minus {
  margin-top: -4px;
}

.basic-cart-cart-form .basic-cart-cart-quantity input {
  width: 40px;
  text-align: center;
}

.basic-cart-cart-form .basic-cart-cart-unit-price {
  font-size: 24px;
  white-space: nowrap;
  padding-right: 12px;
  width: 150px;
  position: relative;
}

.basic-cart-cart-form .basic-cart-cart {
  position: relative;
  padding-top: 2px;
  margin-bottom: 25px;
}

.basic-cart-cart-form .basic-cart-cart .form-item {
  padding-bottom: 15px;
}

.basic-cart-cart-form .basic-cart-total-price {
  text-align: right;
  padding-bottom: 25px;
  font-size: 16px;
}

.basic-cart-cart-form .basic-cart-total-price strong {
  font-size: 24px;
}

.basic-cart-cart-form input.form-update {
  position: absolute;
  left: -9999px;
}

.basic-cart-cart-form .basic-cart-delete,
.basic-cart-cart-form .basic-cart-refresh {
  padding: 0 12px;
  width: 17px;
}

.basic-cart-cart-form .basic-cart-refresh {
  padding: 0;
}

.basic-cart-cart-form .basic-cart-delete span,
.basic-cart-cart-form .basic-cart-refresh span {
  display: inline-block;
  width: 17px;
  height: 17px;
  background: url(../img/sprite.png) no-repeat -104px -60px;
  cursor: pointer;
}

.basic-cart-cart-form .basic-cart-refresh span {
  background-position: -79px -59px;
}

.node-type-blog .node-blog,
.node-type-page .node-page,
.page-itm .product-wrapper {
  padding-top: 10px;
}

.front .node-page {
  padding-bottom: 27px;
}

.field-name-field-blog-image {
  float: left;
  padding: 0 15px 15px 0;
}

.field-name-field-blog-image img {
  vertical-align: top;
}

.view-blog {
  padding-top: 10px;
}

.view-blog .view-content {
  margin: 0 -12px;
}

.view-blog .views-row {
  float: left;
  width: 265px;
  overflow: hidden;
  border: 1px solid #cfcfcf;
  margin: 0 12px 27px;
}

.view-blog .views-row a {
  color: #353230;
  text-decoration: none;
  display: block;
}

.view-blog .image {
  display: block;
}

.view-blog .title {
  font-size: 15px;
  font-weight: bold;
  display: block;
  margin: 12px 12px 0;
  height: 54px;
  overflow: hidden;
}

.view-blog .condition {
  margin: 12px 12px 12px;
  display: block;
  height: 54px;
  overflow: hidden;
}

.right-column .filters ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.right-column .filters ul li {
  padding: 0;
  margin: 0;
}

.right-column .filters ul a:before {
  content: '+ ';
}

.right-column .filters ul li.active a:before {
  content: '- ';
}

.right-column .filters ul li.active > a {
  font-weight: bold;
}

.right-column .filters ul ul {
  padding-left: 36px;
  padding-top: 9px;
  padding-bottom: 9px;
  list-style: circle;
  display: none;
}

.right-column .filters ul ul a:before {
  display: none;
}

.right-column .filters ul ul.active {
  display: block;
}

.main-column .filters {
  padding-top: 60px;
  clear: both;
}

.main-column .filters h3 {
  position: relative;
  padding-bottom: 14px;
  margin-bottom: 10px;
}

.main-column .filters ul {
  list-style: circle;
  padding-left: 18px;
}

.main-column .filters li {
  float: left;
  width: 50%;
}

.node-article-wrapper {
  margin: 0 -15px;
}

.node-article-wrapper .node-article.node-teaser {
  width: 262px;
  text-align: center;
  border: 1px solid #c9c9c9;
  float: left;
  border-radius: 5px;
  margin: 15px 15px;
}

.node-article-wrapper .node-article.node-teaser a {
  display: block;
  padding: 18px;
  height: 170px;
  font-size: 16px;
}

.node-article-wrapper .node-article.node-teaser .image {
  display: block;
  width: 170px;
  height: 115px;
  margin: 0 auto 14px;
  background: url(../img/photo.png) no-repeat;
}

.node-article-wrapper .item-list .pager {
  text-align: center;
}

.field-name-field-block .entity-field-collection-item {
  padding-bottom: 30px;
}

.field-name-field-block .field-name-field-image {
  float: left;
  width: 48%;
}

.field-name-field-block .field-name-field-image img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

.field-name-field-block .field-name-field-body {
  width: 48%;
  float: right;
}

.product-wrapper .product-images {
  width: 362px;
  float: left;
}

.product-wrapper .product-images .image a {
  display: block;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  overflow: hidden;
  text-decoration: none;
  position: relative;
}

.product-wrapper .product-images .image a:after {
  content: 'Увеличить';
  color: white;
  background: #676564;
  height: 30px;
  line-height: 30px;
  padding-left: 30px;
  display: block;
}

.product-wrapper .product-images .image a:before {
  content: '';
  position: absolute;
  width: 17px;
  height: 17px;
  bottom: 7px;
  left: 7px;
  background: url(../img/sprite.png) no-repeat -145px -27px;
}

.product-wrapper .product-images .image img {
  vertical-align: top;
}

.product-wrapper .product-images .owl-carousel {
  margin: 18px 18px;
  padding: 0 5px;
  width: auto;
}

.product-wrapper .product-images .owl-carousel .item {
  display: block;
  padding: 0 5px;
}

.product-wrapper .product-images .owl-carousel .item a {
  display: block;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  overflow: hidden;
}

.product-wrapper .product-images .owl-carousel .item img {
  height: auto;
  vertical-align: top;
}

.product-wrapper .product-info {
  width: 750px;
  float: right;
}

.product-wrapper .product-info .callback {
  height: 28px;
  line-height: 28px;
  font-size: 12px;
  float: right;
  border-radius: 3px;
  background: #3089da;
  background: linear-gradient(to bottom, #379fe1, #215fcd);
  color: white;
  padding: 0 9px 0 27px;
  text-decoration: none;
  margin-top: -4px;
  position: relative;
}

.product-wrapper .product-info .callback:before {
  content: '';
  position: absolute;
  width: 14px;
  height: 13px;
  background: url(../img/sprite.png) no-repeat -27px -87px;
  left: 7px;
  top: 7px;
}

.product-wrapper .product-info .time {
  font-size: 12px;
  color: #666666;
  margin-bottom: 12px;
}

.product-wrapper .product-info .time:before {
  content: '';
  display: inline-block;
  vertical-align: -2px;
  margin-right: 5px;
  width: 14px;
  height: 14px;
  background: url(../img/sprite.png) no-repeat -125px -61px;
}

.product-wrapper .product-info .time b {
  color: black;
}

.product-wrapper .product-info .info {
  background: #f8f7f3;
  padding: 32px;
  border-bottom: 2px solid #cccccc;
  margin-bottom: 20px;
}

.product-wrapper .product-info .info .price,
.product-wrapper .product-info .info .bid,
.product-wrapper .product-info .info .condition {
  float: left;
  font-weight: bold;
  margin-right: 30px;
  font-size: 12px;
}

.product-wrapper .product-info .info .buy-form {
  float: right;
  padding: 2px 0px;
}

.product-wrapper .product-info .info .buy-form input {
  width: 40px;
  text-align: center;
}

.product-wrapper .product-info .info .price b,
.product-wrapper .product-info .info .bid b,
.product-wrapper .product-info .info .condition b {
  display: block;
  font-size: 16px;
  margin-top: 2px;
}

.product-wrapper .product-info .info .price b,
.product-wrapper .product-info .info .bid b {
  color: #fe3c00;
}

.product-wrapper .product-info .info .condition b {
  color: #1bc80d;
}

.product-wrapper .product-info .delivery {
  float: left;
}

.product-wrapper .product-info .delivery > b  {
  border-bottom: 1px solid #666666;
  display: block;
  padding-bottom: 2px;
  margin-bottom: 2px;
  color: #353230;
}

.product-wrapper .product-info .delivery li {
  list-style-position: inside;
  padding: 5px 0;
  border-bottom: 1px dotted #d0d0d0;
}

.product-wrapper .product-info .delivery li:last-child {
  border: 0;
}

.product-wrapper .product-info .delivery li b {
  color: #000;
}

.product-wrapper .product-info .seller {
  float: left;
  margin-left: 50px;
}

.product-wrapper .product-info .seller b {
  color: #353230;
}

.product-wrapper .product-info .seller small {
  color: #a2a2a2;
}

.product-wrapper .product-info .seller li {
  list-style-position: inside;
  padding: 5px 0;
}

.product-wrapper .product-description {
  clear: both;
  padding-top: 36px;
  overflow: hidden;
}

.product-wrapper .product-description img {
  max-width: 100%;
}

.product-wrapper .product-description h3 {
  padding-bottom: 14px;
  margin-bottom: 12px;
  position: relative;
}

.product-wrapper .product-description > .padding {
  padding: 15px;
  border: 1px solid #dedddd;
  border-radius: 5px;
  background: #f1f1f1;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.product-wrapper .product-description > .padding ul {
  padding-left: 27px;
}

.product-wrapper .view-recommended-products {
  padding-top: 36px;
}

div.zoomWindow {
  border-radius: 5px 5px 0 0;
}

#up {
  position: fixed;
  display: none;
  width: 50px;
  height: 50px;
  right: 0;
  bottom: 20%;
  cursor: pointer;
  overflow: hidden;
  z-index: 9;
  border: 1px solid #ddd;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background: black;
  background: rgba(0, 0, 0, 0.5);
}

#up:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 22px;
  height: 10px;
  margin-left: -10px;
  margin-top: -5px;
  background: url(../img/sprite.png) no-repeat -1px -87px;
}

.ya-share2 {
  padding-top: 20px;
}

#modalContent, #modal-content {
  max-width: 592px !important;
  max-height: 592px !important;
}
#modalContent .ctools-modal-content {
  max-width: 592px !important;
  max-height: 425px !important;
  height: 100% !important;
  padding-bottom: 20px !important;
}
#modal-content {
  max-width: 563px !important;
  max-height: 563px !important;
}
#modal-content .form-item {
  max-width: 500px!important;
  margin-left: auto;
  margin-right: auto;

}
#modal-content .resizable-textarea,
#modal-content .form-submit {
  max-width: 500px!important;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.modal-header {
  height: 32px !important;
  padding: 15px !important;
  background: black !important;
}
.modal-header .close {
  font-size: 0;
  background: url(../img/delete.png) no-repeat;
  width: 32px;
  height: 32px;
}
.modal-header .close img {
  display: none;
}
#modal-content input {
  width: 100%;
}

div#bingc-passive div.bingc-passive-overlay div.bingc-passive-content div.bingc-statistics,
div#bingc-passive div.bingc-passive-overlay div.bingc-passive-content div.bingc-phone-sample span {
  color: #000 !important;
}
div#bingc-passive div.bingc-passive-overlay div.bingc-passive-content div.bingc-passive-get-phone-form form.bingc-passive-get-phone-form input[type="tel"]::-moz-placeholder {
  color: #000 !important;
}
div#bingc-passive div.bingc-passive-overlay div.bingc-passive-content div.bingc-passive-get-phone-form form.bingc-passive-get-phone-form input[type="tel"]:-ms-input-placeholder {
  color: #000 !important;
}
div#bingc-passive div.bingc-passive-overlay div.bingc-passive-content div.bingc-passive-get-phone-form form.bingc-passive-get-phone-form input[type="tel"]:-moz-placeholder {
  color: #000 !important;
}
div#bingc-passive div.bingc-passive-overlay div.bingc-passive-content div.bingc-passive-get-phone-form form.bingc-passive-get-phone-form input[type="tel"]::-webkit-input-placeholder {
  color: #000 !important;
}
.allegro-contact-form-form .form-textarea,
.allegro-contact-form-form .form-text,
.basic-cart-checkout-form .form-textarea,
.basic-cart-checkout-form .form-text {
  color: #000;
}
.basic-cart-checkout-form textarea::-moz-input-placeholder {
  color: #000;
}
.basic-cart-checkout-form textarea:-moz-placeholder {
  color: #000;
}
.basic-cart-checkout-form textarea:-ms-input-placeholder {
  color: #000;
}
.basic-cart-checkout-form textarea::-webkit-input-placeholder {
  color: #000;
}
.basic-cart-checkout-form input.form-text[type="text"]::-moz-input-placeholder {
  color: #000;
}
.basic-cart-checkout-form input.form-text[type="text"]:-moz-placeholder {
  color: #000;
}
.basic-cart-checkout-form input.form-text[type="text"]:-ms-input-placeholder {
  color: #000;
}
.basic-cart-checkout-form input.form-text[type="text"]::-webkit-input-placeholder {
  color: #000;
}
.allegro-contact-form-form textarea::-moz-input-placeholder {
  color: #000;
}
.allegro-contact-form-form textarea:-moz-placeholder {
  color: #000;
}
.allegro-contact-form-form textarea:-ms-input-placeholder {
  color: #000;
}
.allegro-contact-form-form textarea::-webkit-input-placeholder {
  color: #000;
}
.allegro-contact-form-form input.form-text[type="text"]::-moz-input-placeholder {
  color: #000;
}
.allegro-contact-form-form input.form-text[type="text"]:-moz-placeholder {
  color: #000;
}
.allegro-contact-form-form input.form-text[type="text"]:-ms-input-placeholder {
  color: #000;
}
.allegro-contact-form-form input.form-text[type="text"]::-webkit-input-placeholder {
  color: #000;
}
