.select-wrapper {
	height: 25px;
	border: 1px solid #d2d2d2;
}
.select-wrapper span {
	line-height: 27px;
	height: 25px;
	padding-left: 8px;
	padding-right: 34px;
}
.file-wrapper {
	height: 25px;
	border: 1px solid #d2d2d2;	
  vertical-align: middle;
  margin-right: 6px;
}
.file-wrapper span {
	line-height: 27px;
	height: 25px;
}
.file-wrapper:after {
	color: white;
	background: #f17000;
  background: -moz-linear-gradient(top, #a8da92, #5fba37 2px, #4fac25); 
  background: -webkit-linear-gradient(top, #a8da92, #5fba37 2px, #4fac25);
  background: -o-linear-gradient(top, #a8da92, #5fba37 2px, #4fac25); 
  background: -ms-linear-gradient(top, #a8da92, #5fba37 2px, #4fac25);
  background: linear-gradient(top, #a8da92, #5fba37 2px, #4fac25); 
  text-shadow: none;
	border: 1px solid #4fac25;
	height: 25px;
	line-height: 27px;
	top: -1px;
	font-weight: bold;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 0 5px 5px 0;
}
input[type="radio"]:not(:checked)+label:before,
input[type="radio"]:checked+label:before,
input[type="checkbox"]:not(:checked)+label:before,
input[type="checkbox"]:checked+label:before,
.select-wrapper {
	background-image: url(select.png);
}